:root {
  --cyber-dark: #142b3e;
  --cyber-blue: #235695;
  --cyber-frosted-blue: #92ccff;
  --cyber-indigo: #57B8DD;
  --cyber-white: #FFF;
  --cyber-grey: #8e8e8e;
  --cyber-litegrey: #eaeaea;
  --cyber-red: #BF3534;
}